LC_CTYPE="{{ locale }}"
NUMERIC="{{ locale }}"
TIME="{{ locale }}"
LC_COLLATE="{{ locale }}"
LC_MONETARY="{{ locale }}"
LC_MESSAGES="{{ locale }}"
LC_PAPER="{{ locale }}"
LC_NAME="{{ locale }}"
LC_ADDRESS="{{ locale }}"
LC_TELEPHONE="{{ locale }}"
LC_MEASUREMENT="{{ locale }}"
LC_IDENTIFICATION="{{ locale }}"
